@import 'config';
@import 'menu';
@import 'button';

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  // same as writing h1.lg-heading
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 1.6rem);

  // nested so that it will only affect icons class inside of main tag
  .icons {
    margin-top: 1rem;
    padding: 0.2rem 1rem;

    a {
      padding-right: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }

  &#about {
    padding: 2rem 4rem;

    .lg-heading {
      line-height: 1.2;
    }
  }
}

.about-info {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: rgba(lighten($primary-color, 5), 0.6);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  row-gap: 0.7rem;
  column-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact page
.boxes {
  display: flex;
  flex-flow: column;

  div {
    display: inline-block;
    padding: 0.3rem 0.5rem;
  }
}

#main-footer {
  text-align: center;
  // padding: 0.3rem;
  background: darken($primary-color, 10);
  height: 1.6rem;
}

@import 'mobile';
